header {
    padding: 20px 20px 30px;
    background-color: var(--stripes);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-wrap {
    display: flex;
    align-items: center;
    gap: 8%;
    min-width: 35%;
    position: relative;
}